{% assign found_page=false %}

<nav>
  {% for chapter in site.data.navigation %}

    {% if found_page=true %}
    
      <p><a href="{{ site.baseurl }}{{ chapter.link }}">
      Next:{{ chapter.title }}
      </a></p>

      {% break %}

    {% endif %}

    {% if page.title == chapter.title %}
       {% assign found_page = true %}
    {% endif %}

    {% for sub in chapter.sub_chapters %}

      {% if found_page=true %}
    
        <p><a href="{{ site.baseurl }}{{ sub.link }}">
        Next:{{ sub.title }}
        </a></p>

        {% break %}

      {% endif %}

      {% if page.title == chapter.title %}
        {% assign found_page = true %}
      {% endif %}

      {% for sub_sub in sub.sub_sub_chapters %}

        {% if found_page=true %}
    
          <p><a href="{{ site.baseurl }}{{ sub_sub.link }}">
          Next:{{ sub_sub.title }}
          </a></p>

          {% break %}

        {% endif %}

        {% if page.title == chapter.title %}
          {% assign found_page = true %}
        {% endif %}

      {% endfor %}

    {% endfor %}  

  {% endfor %}
</nav>
